body{
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(0,0,0,-0.6), rgba(0,0,0,0.2)), url('./img/todo-home-3.png') no-repeat center center/cover;
}
.landing {
  background: url('./img/todo-landing.png') no-repeat center center/cover;
  height: 94vh;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  left: 0;
}
.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-style:italic;
}
.x-large {
  font-size: 3rem;
}
.lead {
  font-size: 1rem;
}
.home {
  height: 94vh;
  background-size: cover;
  width: 20%;
  display: inline-block;
  border-right: 1px ridge;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.1);
  max-width: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.todos-section {
  display: inline-block;
  width: 80%;
  height: 94vh;
  float: right;
  text-align: -webkit-center;
  overflow-y: scroll;

}

.todo-section {
  color:black;
  background-color: floralwhite;
  opacity: 0.8;
  width: 80%;
  margin: 10px;
}

.navbar {
  background-color: floralwhite;
  position: fixed;
  box-sizing: border-box;
  height: 6vh;
}

.navbar-button {
  background-color: #FFDAD7;
}

.text-size {
  font-size: 1rem
}

.modal {
    transform: translate(5px, 200px);
}
.alert {
  padding: 0.8rem;
  opacity: 0.9;
  color: #333;
  z-index: 1070;
  box-sizing: border-box;
  margin-bottom: 0;
}

.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.alert-light {
  background: var(--light-color);
  color: #333;
}
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
  margin: 0;
}
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.center {
  text-align-last: center;
  color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
}
.float-left {
  float: left;
}

.float-right {
  float: right
}

.position-home {
  height: inherit;
}
.list-group-items {
  position: relative;
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, .125);
  margin: 2px
}

#button {
  font-weight: bold;
  border: solid 2px black;
  outline: 0;
  letter-spacing: 0.08rem;
  background-color: #FBF0E8;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
  
}
#button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
}

.style-5 {
  margin: 7px 0px 7px 5px;
  width: 96%;
  padding: 0.5rem 2rem;
}

#button.style-5::after {
  border: 0;
  box-shadow: 0px 0px 0px 2px black;
  top: 0.5rem;
  left: 0.5rem;
}
#button.style-5:hover {
  background-color: pink;
  border: 0;
}
#button.style-5:hover::after {
  background-color: black;
  box-shadow: none;
}

.btn.delete-button:hover {
  background-color: pink;
  border-radius: 10px;
}

.list-group-items:hover {
  color:#333;
}

.bg-color {
  background-color : bisque;
}